# Link repository with Travis CI
# https://travis-ci.org/

# Whitelist gh-pages branch
branches:
  only:
    - master

# Set the language
language: bash

os: osx

env:
  global:
    - PATH=$TRAVIS_BUILD_DIR/usr/bin/:$PATH
    - PATH=/Library/TeX/texbin:$PATH


before_install:
  # # Fetch pandoc and pandoc-citeproc binaries
  # - wget https://github.com/jgm/pandoc/releases/download/1.15.0.5/pandoc-1.15.0.5-1-amd64.deb && ar p pandoc-1.15.0.5-1-amd64.deb data.tar.gz | tar zx
  # # Install TeX Live
  # - sudo add-apt-repository -y ppa:texlive-backports/ppa
  # - sudo apt-get update -qq
  # - sudo apt-get install texlive-xetex texlive-latex-recommended texlive-latex-extra
  # - sudo apt-get install texlive-fonts-recommended texlive-fonts-extra
  # - sudo apt-get install texlive-science
  # # Install fonts
  # - sudo apt-get install lmodern
  - brew install pandoc
  - brew install pandoc-citeproc
  - brew cask install mactex
  - tlmgr info fontspec
  - sudo pip3 install pandoc-fignos pandoc-eqnos pandoc-tablenos \
            pandoc-secnos pandoc-shortcaption

# Attempt to create a PDF
script:
  - make pdf
  - cat pandoc.log
  - make html
